.main {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
}
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero .container {
    padding-top: 80px;
    padding-bottom: 90px;
}

#hero-logo {
    width: 180px;
}

#hero h2 {
    color: #050505;
    margin: 10px 0 0 0;
    font-size: 22px;
}

#hero .icon-boxes {
    margin-top: 50px;
    margin-bottom: -60px;
}

#hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

#hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#hero .icon-box .title a {
    color: #124265;
    transition: 0.3s;
}

#hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

#hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
}

#hero .icon-box:hover {
    transform: scale(1.08);
}

#hero .icon-box:hover .title a {
    color: #2487ce;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-height: 800px) {
    #hero {
        height: auto;
    }
}

@media (max-width: 992px) {
    #hero {
        height: auto;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}
